body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: black;
    padding: 70px;
}
h1 {
    color: white;
    text-align: center ;
    margin-top: 40px;
    font-size: 50px;
    
}

button {
    background-color: yellow;
    padding: 10px 30px 10px 30px;
    text-align: center;
    margin-top:  3% ;
    margin-left: 3%;
    border-radius: 10px;
  
}

a {
    text-decoration: none;
    color: black;
}
p {
    font-weight: 100px;
    font-size: small;
    padding: 0px 50px 0px 50px;
}
.gray {
    background-color: rgba(169, 169, 169, 0.3);
    justify-content: center;
}
