.navbar {
  background-color: rgb(182, 241, 241);
  /* margin: auto;
       */

  width: 100%;
  height: 100px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px rgb(50, 48, 46);
  z-index: 1000;
  /* padding: 10px 10px 0px 12px; */
}
.st-side {
  font-size: larger;
  color: rgb(235, 26, 26);
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nd-side a {
  text-decoration: none;
  color: black;
  background-color: rgba(87, 121, 193, 0.365);
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;

  &:hover {
    background-color: red;
  }
}
.rd-side button {
  background-color: rgba(87, 121, 193, 0.365);
  border-radius: 5px;
  margin-right: 10px;
  padding: 12px;

  &:hover {
    background-color: red;
  }
}

.section1 {
  /* background-color: rgba(0, 0, 0, 0.543); */

  height: auto;
  /* margin-top:60px; */
  position: relative;
  z-index: -1;
}
.div1 {
  color: rgb(12, 12, 12);
}
.div1 > img {
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.semi {
  background-color: rgb(136, 136, 234);
  width: 100%;
  text-align: center;
  padding-top: 9%;
  padding-bottom: 7%;
}
.semi > p {
  color: white;
}
.semi > h2 {
  margin-top: -0.6%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 45px;
  color: white;

  width: 100%;
  text-align: center;
}
.semi button {
  margin-top: -8%;
  padding: 1%;
  width: 11%;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
#more {
  background-color: rgba(115, 114, 114, 0.71);
  color: white;
}
.final {
  width: 90%;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  padding: 2.5%;
  display: flex;
  gap: 1%;
  background-color: rgba(245, 245, 245, 0.751);
}
.final > div > h2 {
  margin-top: -0.1%;
  text-align: left;
  width: 29%;
}
.final > div > p {
  text-align: left;
  margin-top: -4%;
  width: 69%;
  color: rgba(0, 0, 0, 0.751);
}
.final table {
  text-align: justify;
  width: 69%;
}
.final table td {
  color: rgba(0, 0, 0, 0.509);
  font-size: small;
  font-weight: 700;
  line-height: 1.5;
  padding: 8px;
}
.foot {
  width: 95%;
  background-color: rgba(245, 245, 245, 0.751);
  margin-top: -0.01%;
  display: flex inline;
  gap: 20%;
  text-align: left;
  border-collapse: collapse;
  justify-content: space-evenly;
  border-radius: 0 0 5px 5px;
}
